{% extends 'base.html.twig' %}

{% block title %}Game 21{% endblock %}

{% block content %}
<h1>{{ header }}</h1>

<p>{{ message }}</p>

<h2>Round summary</h2>
<p>You rolled these dices:</p>
<div class="dice-utf8">
    {% for value in getRoundDices %}
    <div class="dice-{{ value }}"></div>
    {% endfor %}
</div>

<div class="total-container">
    <div class="total-wrap">
        <p>Your total</p>
        <div class="total-bubble">
            {{ getPlayerTotal }}
        </div>
    </div>
    <div class="total-wrap">
        <p>Average roll</p>
        <div class="average-bubble">
            <div class="average-text">{{ averageRoundDices }}</div>
        </div>
    </div>
</div>

<h2>Bet your coins</h2>
<div class="bet">
    <div class="player-coins">
        <p>You now have</p>
        <div class="coin-bag">
            <p><b>{{ getPlayerCoins }}</b></p>
        </div>
    </div>
    <div class="bot-coins">
        <p>Bot now has</p>
        <div class="bot-coin-bag">
            <p><b>{{ getBotCoins }}</b></p>
        </div>
    </div>
</div>

<p>
    <form method="post" action="{{ path('game21_bot_play') }}">
        <label>Place your bets:</label>
        <input type="number" name="bet" max="{{ getPlayerCoins / 2 }}" placeholder="Max 50% of your balance">
        <br>
        <input class="play-button" type="submit" name="submit" value="Let bot play">
    </form>
</p>
<p>
    <button><a href="{{ path('game21_restart') }}">Reset</a></button>
</p>

<p><img src="../../public/img/purple-dice.png" width="200" alt="Two animated purple dice"></p>
{% endblock %}