{% extends 'base.html.twig' %}

{% block title %}Highscore | Game 21{% endblock %}

{% block content %}
<h1>Highscore</h1>
<p>Click username to see complete player stats!</p>
<table class="highscore">
    <tr>
        <th>Rank</th>
        <th>Player coins</th>
        <th>Wins</th>
        <th>Username</th>
    </tr>
    {% for row in highscore %}
    <tr>
        <td></td>
        <td>{{ row.playerCoin }}</td>
        <td>{{ row.win }}</td>
        <td><a href="{{ path('highscore_player', {'name': row.name}) }}">{{ row.name }}</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Game stats of all time</h2>
{% for row in getOverallStats %}
    <p>Total rounds played</p>
    <div class="total-bubble">
        {{ row.roundtotal }}
    </div>
{% endfor %}
{% for row in getOverallStats %}
    <p>Total number of dice rolled</p>
    <div class="total-bubble">
        {{ row.dicetotal }}
    </div>
{% endfor %}

<div class="histogram">
    <div class="wins-table-row">
        {% for row in getOverallStats %}
           <p>Player wins: <b>{{ row.wintotal }}</b></p>
        {% endfor %}
    </div>
    
    <div class="wins-table-row">
        {% for row in getOverallStats %}
            <p>Bot wins: <b>{{ row.losstotal }}</b></p>
        {% endfor %}
    </div>
</div>

<p>
    <button><a href="{{ path('game21_restart') }}">Start new game</a></button>
</p>

<p><img src="../../public/img/purple-dice.png" width="200" alt="Two animated purple dice"></p>
{% endblock %}