{% extends 'base.html.twig' %}

{% block title %}Game 21{% endblock %}

{% block content %}
<h1>Highscore</h1>
<p>Click username to see complete player stats!</p>
<table class="highscore">
    <tr>
        <th>Rank</th>
        <th>Wins</th>
        <th>Username</th>
        <th>Player coins</th>
    </tr>
    {% for row in highscore %}
    <tr>
        <td></td>
        <td>{{ row.win }}</td>
        <td><a href="{{ path('highscore_player', {'name': row.name}) }}">{{ row.name }}</a></td>
        <td>{{ row.player_coin }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Game stats of all time</h2>
{% for row in getOverallStats %}
    <p>Total rounds played: {{ row.roundtotal }}</p>
{% endfor %}
{% for row in getOverallStats %}
    <p>Total number of dice rolled: {{ row.dicetotal }}</p>
{% endfor %}

<div class="histogram">
    <div class="histogram-row">Player wins:
        {% for row in getOverallStats %}
            {{ row.wintotal }}
        {% endfor %}
    </div>
    
    <div class="histogram-row">Bot wins: 
        {% for row in getOverallStats %}
            {{ row.losstotal }}
        {% endfor %}
    </div>
</div>

<p>
    <button><a href="{{ path('game21_restart') }}">Start new game</a></button>
</p>
{% endblock %}