{% extends 'base.html.twig' %}

{% block title %}Game 21{% endblock %}

{% block content %}
<h1>{{ header }}</h1>

<p>{{ message }}</p>

<p>Your total: <b>{{ getPlayerTotal }}</b></p>
<p>Bot total: <b>{{ getBotTotal }}</b></p>

<p><b>{{ getResultMessage }}</b></p>

<h2>Scoreboard</h2>
<p>Total rounds: <b>{{ getWins + getLosses }}</b></p>
<p>You have won {{ getWins }} times.</p>
<p>Bot has won {{ getLosses }} times.</p>

<p>
    <button><a href="{{ path('game21') }}">Play another round</a></button>
</p>
<p>
    <button><a href="{{ path('game21_restart') }}">Reset scoreboard</a></button>
</p>
{% endblock %}