{% extends 'base.html.twig' %}

{% block title %}Game 21{% endblock %}

{% block content %}
<h1>{{ header }}</h1>

<h2>{{ message }}</h2>

<div class="total-container">
    <div class="total-wrap">
        <p>Your total</p>
        <div class="total-bubble">
            {{ getPlayerTotal }}
        </div>
    </div>

    <div class="total-wrap">
        <p>Bot total</p>
        <div class="total-bubble">
            {{ getBotTotal }}
        </div>
    </div>
</div>

<h2>{{ getResultMessage }}</h2>

<div class="bet">
    <div class="player-coins">
        <p>You now have</p>
        <div class="coin-bag">
            <p><b>{{ getPlayerCoins }}</b></p>
        </div>
    </div>
    <div class="bot-coins">
        <p>Bot now has</p>
        <div class="bot-coin-bag">
            <p><b>{{ getBotCoins }}</b></p>
        </div>
    </div>
</div>

<h2>Scoreboard</h2>
<p>Total rounds</p>
<div class="total-bubble">
    {{ getWins + getLosses }}
</div>
<p>You have won <b>{{ getWins }}</b> times.</p>
<p>Bot has won <b>{{ getLosses }}</b> times.</p>

<h2>Which numbers did you roll?</h2>

<div class="histogram">
    <div class="histogram-row">1:
        {% for value in getOnes %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="histogram-row">2: 
        {% for value in getTwos %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="histogram-row">3:
        {% for value in getThrees %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="histogram-row">4:
        {% for value in getFours %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="histogram-row">5:
        {% for value in getFives %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="histogram-row">6:
        {% for value in getSixes %}
        <div class="dot"></div>
        {% endfor %}
    </div>
</div>

<p>Total number of dices rolled</p>
<div class="total-bubble">
    {{ getDiceTotal }}
</div>

<p>
    <button><a href="{{ path('game21') }}">Play another round</a></button>
</p>

<h2>Save your highscore</h2>
<p>
    <form method="post" action="{{ path('highscore_process') }}">
        <label>Enter username:</label>
        <input type="text" name="name" maxlength="10" placeholder="Max 10 char">
        <input type="hidden" name="rounds" value="{{ getWins + getLosses }}">
        <input type="hidden" name="wins" value="{{ getWins }}">
        <input type="hidden" name="losses" value="{{ getLosses }}">
        <input type="hidden" name="playercoins" value="{{ getPlayerCoins }}">
        <input type="hidden" name="botcoins" value="{{ getBotCoins }}">
        <input type="hidden" name="dicetotal" value="{{ getDiceTotal }}">
        <br>
        <input class="save-button" type="submit" name="submit" value="Save and end game">
    </form>
</p>

<p>
    <button><a href="{{ path('game21_restart') }}">End game without saving</a></button>
</p>

<p><img src="../../public/img/purple-dice.png" width="200" alt="Two animated purple dice"></p>
{% endblock %}