<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('favicon.png') }}" rel="icon"/>
    </head>

    <body>
        <header>
            <h1><a href="{{ path('index') }}">Game 21</a></h1>
            <nav>
                <a href="{{ path('index') }}">Home</a>
                <a href="{{ path('game21') }}">Game 21</a>
                <a href="{{ path('highscore') }}">Highscore</a>
                <a href="{{ path('session') }}">Session</a>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>Developed by Jenny Phan (<a href="https://github.com/kimchijeon/mvc_project">kimchijeon</a>) 2021</p>
        </footer>
    </body>
</html>
        